<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% extends "index.html" %}
    {% block content %}
    <main>
        <section>
            <article>
                <h1><a href="https://web-management-system-production.up.railway.app/" target="_blank">web-management-system-production</a></h1>
                <iframe src="https://web-management-system-production.up.railway.app/" frameborder="0"></iframe>
            </article>
        </section>
        <section>
            <article>
                <h1><a href="https://invest-me-django-production.up.railway.app/" target="_blank">Invest-Me</a></h1>
                <iframe src="https://invest-me-django-production.up.railway.app/" frameborder="0"></iframe>
            </article>
        </section>
        <section>
            <article>
                <h1><a href="https://github.com/alexsandersautier/Universal-Currency-Converter" target="_blank">Universal Currency Converter</a></h1>
                <img src="../static/img/convert.png" width="700px">
            </article>
        </section>
    </main>
    {% endblock %}
</body>
</html>